// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#unapproved-owners-home {
  margin: 0 auto;
  max-height: 10em;
  max-width: 25em;
  overflow-y: auto;
}

#unapproved-user-message {
  color: #F36A6A;
}
