// Place all the styles related to the movie_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.seat {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 3em;
  width: 3em;
  text-align: center;
  vertical-align: middle;
  line-height: 3em;
  margin-bottom: 3px;
}

.seat-taken {
  background-color: #F36A6A;
}

.seat-reserved {
  background-color: #F1F36A;
}